<%= render "layouts/navbar" %>
<div class="jumbotron">
  <h1 class="display-3">WELCOME TO AUCTIONS ESCAPE!</h1>
  <p class="lead">Best deals, Best buys, Auction Escape!</p>
  <hr class="my-4">
  <p>We are an auction escape paradise where you can come find the best auctions. Check out some of our featured items below!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href=auctions role="button">Join US</a>
  </p>
</div>
