<%= render "layouts/navbar" %>

<div class="jumbotron">
  <h1 class="display-3">User Reviews</h1>
  <p class="lead">Current reviews for your listings</p>
  <hr class="my-4">
 
<h2> Reviews received for <%= current_user.username%> </h2>

<% auctions.each do |auction| %>
  <div id="<%= dom_id(auction) %>">
    <br>
    <p> <%= auction.title %> </p>
    <p> Received Review:</p>

  </div>
<% end %>
