  <p><%= link_to "Home", home_path %></p>
  <p><%= link_to "All Auctions", auctions_path %></p>

<h1> Leave Review </h1>

<p> Feeback matters to our Sellers. Please submit the form below to leave a review. </p>

<h2> Forum </h2>