<%= render "layouts/navbar" %>

<div class="jumbotron">
  <h1 class="display-3">Review</h1>
  <p class="lead"> </p>
  <hr class="my-4">
  
  <div class="card mb-3" style="width: 18rem;">
  
  <h3 class="card-header"> Review | Auction</h3>
   <p class="card-text">   ||||| </p>
  <div class="card-body">
    <h5 class="card-title"><%= review.name%></h5>
    <h6 class="card-subtitle text-muted"> Email: <%= review.email %></h6>
  </div>
  <div class="card-body">
    <p class="card-text"><%= review.message%></p>
  </div>
  
</div>
